{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/passwordchange.css' %}">
    <link rel="stylesheet" href="{% static 'css/addproduct.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/admin_home.css' %}">
    <title>customer home</title>
</head>
<body>
  <nav class="navbar navbar-dark bg-primary" >
    <!-- Navbar content -->
      <div class="container-fluid">
        <a class="navbar-brand">Navbar</a>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-danger" type="submit">Search</button>
        </form>
      </div>
  </nav>
    <!-- <div class="container"> -->
        <div class="sidebar">
            <ul>
                <li><a href="{% url 'ecom_admin:admin_home' %}">
                    <div>Home</div>
                </a></li>
                <li><a href="{% url 'ecom_admin:approve_seller' %}">
                    <div>Approve seller</div>
                </a></li>
                <li><a href="{% url 'ecom_admin:view_seller' %}">
                    <div>View seller</div>
                </a></li>
                <li><a href="{% url 'ecom_admin:view_customer' %}">
                    <div>View customer</div>
                </a></li>
                <li><a href="{% url 'common:common_page' %}">
                    <div>logout</div>
                </a></li>
            </ul>
        </div>
        {% block content %}
        
        

        {% endblock %}

        
        <!-- <div align="center">
    

        </div> -->


        


    <!-- </div> -->

</body>
</html>